<div class="container">
  <div class="row" *ngIf="success">
      <div class="col-xs-1"></div>
      <div class="alert alert-success col-xs-10 text-center" id="success">
        <b>Submission successful - thank you for your submission.</b>
      </div>
      <div class="col-xs-1"></div>
    </div>


 <div *ngFor="let group of getKeys(groupedDepts)">
    <div class="row">
<!--       <div class="blank col-lg-3 hidden-md-down"></div> -->
      <div class="right-section col-lg-12 col-xs-12">

        <!-- TRAM REPORT -->
        <div class="wrapper">

          <!-- approaching-tram -->
          <div class="container section">

            <div class="current-tram">
              <div class="route-no">
                <span class="{{'route_number_table route_' + routes[group[0].route_id].route_number}}">{{routes[group[0].route_id].route_number}}</span>
                <strong font-size="16dp">{{ 'to ' + directions[group[0].direction_id].direction_name }}</strong>
              </div>

              <div class="upcoming-tram">
                <h3>{{ minsToNow(group[0].estimated_departure_utc) }}</h3>
              </div>

              <div class="progress">
                <div aria-valuemax="60" aria-valuemin="0" aria-valuenow="40" class="{{'progress-bar progress-bar-' + crowdSourcedDisruptions[group[0].run_id]?.class.toLowerCase()}}"
                    role="progressbar" [ngStyle]="{width: calculateWidth(group[0].run_id)}">
                  {{crowdSourcedDisruptions[group[0].run_id]?.class}}
                </div>
              </div>


              <div class="warnings">
                <div *ngIf="crowdSourcedDisruptions[group[0].run_id]?.dirtyLevel">
                  <h4 class="disruption_font"><span class="glyphicon glyphicon-info-sign clear_10px_right"></span>Tram likely to be dirty.</h4>
                  <!-- <span class="disruption_table">CROWDSOURCED</span> -->
                </div>
                <div *ngIf="crowdSourcedDisruptions[group[0].run_id]?.speedingLevel">
                  <h4 class="disruption_font"><span class="glyphicon glyphicon-info-sign clear_10px_right"></span>Poor driving - be sure to hold on!</h4>
                  <!-- <span class="disruption_table">CROWDSOURCED</span> -->
                </div>
                <!-- <p>User <a class="onlight" href="#">nightietime</a> reported: Somebody threw up all over E.6021 and I am sad.</p> -->

                <div *ngIf="checkIfEmptyJson(disruptions)">
                  <!-- TODO: stub -->
                  <h2 class="disruption_font"><span class="glyphicon glyphicon-warning-sign clear_10px_right"></span>Service Disruption</h2>
                  <!-- <span class="disruption_table">OFFICIAL</span> -->
                </div>
                <!-- <p>Due to a disruptive passenger, Route 96 trams to St Kilda Beach are diverting via Clarendon St along Route 12.</p> -->
              </div>
            </div>

            <div class="next-tram">

              <button class="btn btn-md btn-primary btn-info" data-toggle="collapse"
              attr.data-target="{{'#next-tram-' + group[0].run_id}}">Next Tram</button>
              <button class="btn btn-md btn-primary btn-info" data-toggle="collapse"
              attr.data-target="{{'#report-crowdedness-' + group[0].run_id}}">Report Crowdedness</button>
              <button class="btn btn-md btn-primary btn-info" data-toggle="collapse"
              attr.data-target="{{'#report-condition-' + group[0].run_id}}">Report Condition</button>


              <div id="{{'next-tram-' + group[0].run_id}}" class="collapse upcoming">
                <div *ngFor="let departure of group; let i=index;">
                  <div *ngIf="i>0"> <!-- do not include first departure -->
                    <div class="upcoming-tram">
                      <h4>{{ minsToNow(departure.estimated_departure_utc) }}</h4>
                    </div>

                    <div class="progress">
                      <div aria-valuemax="60" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-overcrowded" role="progressbar"
                      [ngStyle]="{width: calculateWidth(departure.run_id)}">
                        {{crowdSourcedDisruptions[departure.run_id]?.class}}
                      </div>
                    </div>

                    <div class="warnings">
                      <div *ngIf="crowdSourcedDisruptions[group[0].run_id]?.dirtyLevel">
                        <h4 class="disruption_font"><span class="glyphicon glyphicon-info-sign clear_10px_right"></span>Tram likely to be dirty.</h4>
                        <!-- <span class="disruption_table">CROWDSOURCED</span> -->
                      </div>
                      <div *ngIf="crowdSourcedDisruptions[group[0].run_id]?.speedingLevel">
                        <h4 class="disruption_font"><span class="glyphicon glyphicon-info-sign clear_10px_right"></span>Poor driving - be sure to hold on!</h4>
                        <!-- <span class="disruption_table">CROWDSOURCED</span> -->
                      </div>
                      <!-- <p>User <a class="onlight" href="#">nightietime</a> reported: Somebody threw up all over E.6021 and I am sad.</p> -->

                      <div *ngIf="checkIfEmptyJson(disruptions)">
                        <!-- TODO: stub -->
                        <h2 class="disruption_font"><span class="glyphicon glyphicon-warning-sign clear_10px_right"></span>Service Disruption</h2>
                        <!-- <span class="disruption_table">OFFICIAL</span> -->
                      </div>
                      <!-- <p>Due to a disruptive passenger, Route 96 trams to St Kilda Beach are diverting via Clarendon St along Route 12.</p> -->
                    </div>

                  </div>
                </div>
              </div>

              <div id="{{'report-condition-' + group[0].run_id}}" class="collapse well inconveniences">
                <br/>
                <div class="row">
                  <h5>Any inconveniences you might experience?</h5>
                </div>

                <div class="row"> <!-- buttons -->
                  <button (click)="onInputData(0, 1, 0, group[0].run_id, group[0].stop_id)" (click)="onSubmit()"type="submit" data-toggle="tooltip" title="Drunk People"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-beer" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Drunk</button>
                  <button (click)="onInputData(0, 1, 0, group[0].run_id, group[0].stop_id)" (click)="onSubmit()" type="submit"  data-toggle="tooltip" title="Dirty"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-trash" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Dirty</button>
                  <button (click)="onInputData(0, 0, 1, group[0].run_id, group[0].stop_id)" (click)="onSubmit()" type="submit" data-toggle="tooltip" title="Unruly Driver"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-fast-forward" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Poor Driving</button>
                  <button (click)="onInputData(0, 0, 1, group[0].run_id, group[0].stop_id)" (click)="onSubmit()" type="submit" data-toggle="tooltip" title="Other Information"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-info-circle" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Others</button>
                </div>

              </div>

              <div id="{{'report-crowdedness-' + group[0].run_id}}" class="collapse crowdedness">
                <div class="well">
                  <div class="row">
                    <h5>How crowded is this tram?</h5>
                  </div>

                  <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                      <button (click)="onInputData(0, 0, 0, group[0].run_id, group[0].stop_id)" (click)="onSubmit()" class="btn btn-default btn-lg clear_5px_top" type="submit" name="crowdedness" value="0">Empty</button>
                      <button (click)="onInputData(1, 0, 0, group[0].run_id, group[0].stop_id)" (click)="onSubmit()" name="crowdedness" value="1" class="btn btn-success btn-lg clear_5px_top" type="submit">Decent</button>
                      <button (click)="onInputData(2, 0, 0, group[0].run_id, group[0].stop_id)" (click)="onSubmit()" name="crowdedness" value="2" class="btn btn-warning btn-lg clear_5px_top" type="button">Full</button>
                      <button (click)="onInputData(3, 0, 0,group[0].run_id, group[0].stop_id)" (click)="onSubmit()" class="btn btn-danger btn-lg clear_5px_top" name="crowdedness" value="3" type="submit">Overcrowded</button>
                    </div>
                  </div>

                </div>
              </div>

          </div>
        </div>

      </div> <!-- close row -->

    </div>
  </div>


  <hr>
</div>
</div>
