 <div *ngFor="let group of getKeys(groupedDepts)">
    <div class="row">
<!--       <div class="blank col-lg-3 hidden-md-down"></div> -->
      <div class="right-section col-lg-12 col-xs-12">

        <!-- TRAM REPORT -->
        <div class="wrapper">

          <!-- approaching-train -->
          <div class="container section">

            <div class="current-tram">
              <div class="route-no">
                <span class="{{'route_number_table route_number_' + routes[group[0].route_id].route_number}}">{{routes[group[0].route_id].route_number}}</span>
                <strong>{{ 'to ' + directions[group[0].direction_id].direction_name }}</strong>
              </div>

              <div class="upcoming-tram">
                <h1>{{ minsToNow(group[0].estimated_departure_utc) }}</h1>
              </div>

              <div class="progress">
                <div aria-valuemax="60" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-overcrowded" role="progressbar" style="width: 90%">
                  Overcrowded
                </div>
              </div>
            </div>

            <div class="next-tram">

              <button class="btn btn-md btn-primary btn-info" data-toggle="collapse"
              data-target="#next-tram">Next Tram</button>
              <button class="btn btn-md btn-primary btn-info" data-toggle="collapse"
              data-target="#report-crowdedness">Report Crowdedness</button>
              <button class="btn btn-md btn-primary btn-info" data-toggle="collapse"
              data-target="#report-condition">Report Condition</button>



              <div id="report-condition" class="collapse">
                <br/>

                <div class="row"> <!-- buttons -->
                  <button (click)="onInputData(0, 1, 0, group[0].run_id)" (click)="onSubmit()"type="submit" data-toggle="tooltip" title="Drunk People"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-beer" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Drunk</button>
                  <button (click)="onInputData(0, 1, 0, group[0].run_id)" (click)="onSubmit()" type="submit"  data-toggle="tooltip" title="Dirty"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-trash" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Dirty</button>
                  <button (click)="onInputData(0, 0, 1, group[0].run_id)" (click)="onSubmit()" type="submit" data-toggle="tooltip" title="Unruly Driver"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-fast-forward" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Poor Driving</button>
                  <button (click)="onInputData(0, 0, 1, group[0].run_id)" (click)="onSubmit()" type="submit" data-toggle="tooltip" title="Other Information"
                  class="btn btn-warning btn-md" role="button"><i class="fa fa-info-circle" aria-hidden="true" style="font-size:30px;color:white;"></i><br/>Others</button>
                </div>

                <br/>
              </div>

              <div id="next-tram" class="collapse">
                <div *ngFor="let departure of group; let i=index;">
                  <div *ngIf="i>0"> <!-- do not include first departure -->
                    <div class="upcoming-tram">
                      <h1>{{ minsToNow(departure.estimated_departure_utc) }}</h1>
                    </div>

                    <div class="progress">
                      <div aria-valuemax="60" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-overcrowded" role="progressbar" style="width: 90%">
                        Overcrowded
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="report-crowdedness" class="collapse">
                <div class="well">
                  <div class="row">
                    <h5>Please rate the tram crowdedness</h5>
                  </div>

                  <div class="row">
                    <form method="POST" action="/nextram" class="col-xs-10 col-xs-offset-1">
                      <button (click)="onInputData(0, 0, 0)" (click)="onSubmit()" class="btn btn-default btn-lg clear_5px_top" type="submit" name="crowdedness" value="0">Empty</button>
                      <button (click)="onInputData(1, 0, 0)" (click)="onSubmit()" name="crowdedness" value="1" class="btn btn-success btn-lg clear_5px_top" type="submit">Decent</button>
                      <button (click)="onInputData(2, 0, 0)" (click)="onSubmit()" name="crowdedness" value="2" class="btn btn-warning btn-lg clear_5px_top" type="button">Full</button>
                      <button (click)="onInputData(3, 0, 0)" (click)="onSubmit()" class="btn btn-danger btn-lg clear_5px_top" name="crowdedness" value="3" type="submit">Overcrowded</button>
                    </form>
                  </div>

                </div>
              </div>

          </div>
        </div>

      </div> <!-- close row -->

    </div>
  </div>
</div>
