.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/* Heading */
h1 {

}

/* Form */
form {
	max-width: 700px;
	margin: auto;
}
