<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading" style="font-size:6em">GongGo</h1>
          <p class="lead">Search real-time tram arrival schedule and crowd-sourced data on tram conditions. {{ stop }}</p>

          <form #searchForm="ngForm">
            <div class="input-group">
              <input autocomplete="off" name="stop_name" style="width: 100%; height:40px; font-size:16px; border-radius:5px 0 0 5px" class="form-control" auto-complete [(ngModel)]="result" [source]="autocomplete" [min-chars]="2" [max-num-list]="10" [list-formatter]="autocompleteListFormatter" value-property-name="stop_id" display-property-name="stop_name"
                  />
              <span class="input-group-btn">
                <button [routerLink]="['/departures', result?.stop_id]"
                    class="btn btn-success" type="submit" style="height: 40px">Go!</button>
              </span>
            </div>
          </form>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>AngelHack 2017</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- <form method="GET" action="/nextram" class="col-md-8 col-xs-10">
									<div class="input-group">
										<input type="text" name="search" class="biginput" id="autocomplete" placeholder="Search for..." autocomplete="off">
										<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Go!</button>
									</span>
									</div>
								</form> -->
